@model Fantasy_Football_Manager.ViewModels.TeamLeaderboard

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h2>Players Table</h2>
<table id="myTable" class="table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeEchipa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrTotalPuncte)
            </th>
        </tr>
    </thead>
    <tbody>
        @{ var playersInfos = ViewData["teams"] as List<Fantasy_Football_Manager.ViewModels.TeamLeaderboard>;

            foreach (var item in playersInfos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeUser)
                    </td>
                    <td>
                        @Html.ActionLink("Nume Liga", "GetTeam", "Echipe", new { id = item.EchipaId })
                        @Html.DisplayFor(modelItem => item.NumeEchipa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NrTotalPuncte)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts{
    <script>
			$(document).ready(function () {
				$('#myTable').DataTable();//myTable is the id of the table to be displayed as dataTable
			});
    </script>
}