@model Fantasy_Football_Manager.ViewModels.LeagueStats

@{
    ViewData["Title"] = "Index";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Fantasy Football Manager</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Ligi" asp-action="GetLeaguesWithUser">Ligile mele</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Jucatori" asp-action="DisplayAllStats">Statistici Jucatori</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<h2>Ligile disponibile din comunitate</h2>

<p>
    <a asp-controller="Ligi" asp-action="Create" style="color:black">Adauga Liga</a>
</p>

<table id="myTable" class="table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LigaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeLiga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrCurrUseri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrMaxUseri)
            </th>
            <th>
                
            </th>

        </tr>
    </thead>
    <tbody>
        @{ var playersInfos = ViewData["Ligi"] as List<Fantasy_Football_Manager.ViewModels.LeagueStats>;

            foreach (var item in playersInfos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LigaId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeLiga)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NrCurrUseri)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NrMaxUseri)
                    </td>
                    <td style="color:black">
                        @Html.ActionLink("Join", "JoinLeague", "Ligi", new { id = item.LigaId }, new { @style = "color:black;" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts{
    <script>
			$(document).ready(function () {
				$('#myTable').DataTable();//myTable is the id of the table to be displayed as dataTable
			});
    </script>
}